body{
  font-family: "RobotoDraft"
}
sopro-card{
  margin-bottom: 8px;
}
core-icon-button:focus{
  background-color: rgba(0,0,0,0.54);
}
#cards{
}

#titleText {
  float: left;
  vertical-align: middle;
}

#listMorphButtons {
  float: right;
}

.mainTitle {
  width: 100%;
}

#addGroupCardButton {
  transition: top ease-in-out 0.3s;
  transition: background-color ease-in-out 0.3s;
}
#addGroupCardButton{
  display: block;
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 5;
  background-color: rgba(82, 110, 156, 0.8);
}
/* Fade in when you focus: */
#addGroupCardButton:focus, #addGroupCardButton:hover{
  background-color: rgba(82, 110, 156, 1);
}
/* Spin the cross button when you focus: */
#addGroupCardButton core-icon{
  transition: transform ease-in-out 0.6s;
}
#addGroupCardButton:focus core-icon, #addGroupCardButton:hover core-icon{
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

/* Reposition FAB when screen shrinks enough that it interferes with titlebar */
@media screen and (max-width: 776px){
  #addGroupCardButton{
    top: 100%;
  }
}
