body{
  font-family: "RobotoDraft"
}
sopro-card{
  margin-bottom: 8px;
}
#titleText {
  float: left;
  vertical-align: middle;
}

#listMorphButtons {
  float: right;
}

.mainTitle {
  width: 100%;
}

#addGroupCardButton {
  transition: top ease-in-out 0.3s;
}
#addGroupCardButton{
  display: block;
  position: absolute;
  right: 8px;
  top: 72px;
  z-index: 5;
  margin-top: -64px;
}
@media screen and (max-width: 776px){
  /* Reposition FAB when screen shrinks enough that it interferes with titlebar */
  #addGroupCardButton{
    top: 100%;
  }
}
